# See http://help.github.com/ignore-files/ for more about ignoring files.

# Node
./contact-manager/node_modules
./contact-manager/npm-debug.log
./contact-manager/yarn-error.log

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
./api/apt_generated
./api/classpath
./api/factorypath
./api/project
./api/settings
./api/springBeans
./api/sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

